@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Mosk";
	src: url("../../public/fonts/Mosk Extra-Bold 800.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
